.customerViewedContainer {
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  background-color: #fff;
  overflow: hidden;
  margin: 20px auto 0;
  padding: 15px 20px;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.header h2 {
  font-size: 21px;
  font-weight: 700;
  color: #0f1111;
  margin: 0;
}

.pageIndicator {
  font-size: 14px;
  color: #565959;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.productListContainer {
  flex-grow: 1;
  overflow: hidden;
  margin: 0 10px;
}

.productList {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.navButton {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 10%;
  width: 40px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  /* transition: background-color 0.2s ease, box-shadow 0.2s ease; */
  flex-shrink: 0;
  z-index: 10;
  border: 1px solid black;
}

.navButton:hover:not(:disabled) {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
